.profile{
        width: 400px;
        height: 530px;
        padding: 0 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: whitesmoke;
        /* background-image: url("../public/image/doc.jpg"); */
        margin: auto auto 100px auto;
        border: 2px solid black;
    }

.head{
        height: 550px;
        margin: -20px auto -20px auto;
        background-image: url("../public/image/bg1.jpg");
    }
.font{
    margin: 32px 0px 5px;
    text-align: center;
    font-size: calc(30px + 2vmin);
}    
