.head{
    text-align: center;
}

.review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:auto;
    align-items: center;
    margin: 20px;
    border: 2px solid #777;
    padding: 1rem;
    border-radius: 5px;
    background-color:white;
}
.con{
    background-color:rgb(216, 245, 207);
    margin: -20px 0px auto;
}
.welcome{
    margin: 5px;
    text-align: center;
    font-size: calc(30px + 2vmin);
}