.head{
    text-align: center;
    margin-top: 20px;
}

.review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:auto;
    align-items: center;
    margin: 20px;
    border: 2px solid #777;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
}